<h1>Obsqured Aliases Of Your Real Addresses</h1>
<% unless @user.has_verified_address? %>
  <div>You must verify an <%= link_to "address", :addresses %> before <%= @user.has_aliases? ? "more aliases" : "an alias" %> can be created.</div>
<% else %>
  <% unless @user.has_maximum_aliases? %>
    <div class="pure-form">
      <%= form_for @alias, url: {action: "create"} do |f| %>
        <fieldset>
          <legend>Create A New Alias</legend>
          <%= collection_select("address", "to", @user.verified_addresses, :id, :to, {:selected => @user.email } ) %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit "Add", :class => "pure-button pure-button-primary" %>
        </fieldset>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @user.has_aliases? %>
  <h2>Existing Aliases</h2>
  <div class="table">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Alias</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>

      <% if @user.addresses.nil? %>
        <tbody>
          <td colspan="2">You have no aliases yet.</td>
        </tbody>
      <% end %>

      <% @user.aliases_sorted.each do |a| %>
        <tbody>
          <tr>
            <td><%= a.name %></td>
            <td class="<%= "not_verified" unless a.verified? %>">
              <%= a.to %>
            </td>
            <td class="<%= "not_verified" unless a.verified? %> <%= "default" if a.address_id == @user.email %>">
              <%= a.address.to %>
            </td>
            <td style="white-space:nowrap">
              <%= button_to "Edit",   { :controller => "aliases", :action => "edit", :id => a.id }, :method => :get, :class => "pure-button" %>
              <%= button_to "Burn", { :controller => "aliases", :action => "burn", :id => a.id }, :data => { :confirm => "Are you sure? This address cannot be recovered." }, :method => :post, :class => "pure-button" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
