<h1>Aliases</h1>
<% unless @user.has_verified_address? %>
  You must verify an account before more aliases can be created.
<% else %>
  <% unless @user.has_maximum_aliases? %>
    <div class="pure-form">
      <%= form_for @alias, url: {action: "create"} do |f| %>
        <fieldset>
          <legend>Create A New Alias</legend>
          <%= collection_select("address", "to", @user.verified_addresses, :id, :to, {:selected => @user.default_address } ) %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit "Add", :class => "pure-button pure-button-primary" %>
        </fieldset>
      <% end %>
    </div>
  <% else %>
    <div>__add an upgrade partial__</div>
  <% end %>

  <% unless @user.has_aliases? %>
    # TODO: add a title here
    <div class="table">
      <table class="pure-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Alias</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>

        <% if @user.addresses.nil? %>
          <tbody>
            <td colspan="2">You have no aliases yet.</td>
          </tbody>
        <% end %>

        <% @user.aliases_sorted.each do |a| %>
          <tbody>
            <tr>
              <td><%= a.name %></td>
              <td><%= a.to %></td>
              <td><%= @user.addresses.select{|add| add.id == a.address_id}.first.to %></td>
              <td style="white-space:nowrap">
                <%= button_to "Edit",   { :controller => "aliases", :action => "edit", :id => a.id }, :method => :get, :class => "pure-button" %>
                <%= button_to "Delete", { :controller => "aliases", :action => "destroy", :id => a.id }, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "pure-button" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  <% end %>

<% end %>
