<h1>Aliases</h1>
<% if @addresses.select{|a| a.verified?}.count.zero? %>
  You must verify an account before an alias can be created.
<% else %>
  <div class="pure-form">
    <%= form_for @alias, url: {action: "create"} do |f| %>
      <fieldset>
        <legend>Create A New Alias</legend>
        <%= collection_select("address", "to", @addresses.select{|a| a if a.verified?}, :id, :to) %>
        <%= f.submit "Add", :class => "pure-button pure-button-primary" %>
      </fieldset>
    <% end %>
  </div>

  # TODO: add a title here

  <div class="table">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Alias</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>

      <% if @addresses.nil? %>
        <tbody>
          <td colspan="2">You have no aliases yet.</td>
        </tbody>
      <% end %>

      <% @aliases.each do |a| %>
        <tbody>
          <tr>
            <td><%= a.to %></td>
            <td><%=  @addresses.select{|add| add.id == a.address_id}.first.to %></td>
            <td style="white-space:nowrap">
              <%= button_to "Edit",     edit_aliases_path, :method => :get, :class => "pure-button" %>
              <%= button_to "Delete",   edit_aliases_path, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "pure-button" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

<% end %>
