<h2>Update Your Account Details</h2>

<h3>Change Your Password</h3>
<%= devise_error_messages! %>
<div class="pure-form pure-form-aligned">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <fieldset>
      <div class="pure-control-group">
        <%= f.label :new_password %>
        <%= f.password_field :password, :autocomplete => "off", :error => false, required: true; %>
      </div>

      <div class="pure-control-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :error => false, required: true %>
      </div>

      <div class="pure-control-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, :error => false, required: true %>
      </div>

      <div class="pure-controls">
        <%= f.submit "Update Password", :class => "pure-button pure-button-primary" %>
      </div>
    </fieldset>
  <% end %>
</div>


<h3>Cancel Your Account</h3>
<div class="pure-form pure-form-aligned">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <fieldset>
      <div>Canceling your account will delete all of your information. But be warned, <b>this cannot be undone</b>.<br /><br /></div>

      <div class="pure-control-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => "off", :error => false, required: true; %>
      </div>

      <div class="pure-controls">
        <%= button_to "Cancel My Account", registration_path(resource_name), :data => { :confirm => "Are you sure you want to cancel your account?" }, :method => :delete, :class => "pure-button" %>
      </div>
    </fieldset>
  <% end %>
 
</div>

