<h1>Register</h1>

<div class="pure-form pure-form-aligned">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <fieldset>
      <%= devise_error_messages! %>

      <div class="pure-control-group">
        <%= f.label :username %>
        <%= f.text_field :username, :autofocus => true %>
      </div>

      <div class="pure-control-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="pure-control-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div>
        By creating an account, you are agreeing to the <%= link_to "terms of service", :terms %>.
      </div>

      <div class="pure-controls">
        <%= f.submit "Register", :class => "pure-button pure-button-primary" %>
      </div>
    </fieldset>
  <% end %>
</div>
