<h1>Your Account Details</h1>
<div class="table">
  <table class="pure-table">
    <tbody>
      <tr>
        <td>Username:</td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td>Account Type:</td>
        <td><%= @account_type %></td>
      </tr>
      <tr>
        <td>Account Expiration:</td>
        <td>Never</td>
      </tr>
      <tr>
        <td>Used Addresses:</td>
        <td><%= @user.used_addresses %> / <%= @user.maximum_addresses %></td>
      </tr>
      <tr>
        <td>Used Aliases:</td>
        <td><%= @user.used_aliases %> / <%= @user.maximum_aliases %></td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Reset Password</h3>
<%= render :partial => "shared/update_password" %>

<div>Reset Password</div>
