<table class="pure-table">
  <thead>
    <tr>
      <th>Aliases</th>
      <th>Redirect To</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% if @aliases.empty? %>
    <tbody>
      <td colspan="2">You have no aliases yet.</td>
    </tbody>
  <% end %>

  <% @aliases.each do |a| %>
    <tbody>
      <tr>
        <td><%= a.address %></td>
        <td>someone@somewhere.com
        <td style="white-space:nowrap">
          <%= button_to "Edit",     edit_user_alias_path(current_user.id,a.id), :method => :get, :class => "pure-button" %>
          <%= button_to "Delete",   user_alias_path(current_user.id,a), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "pure-button" %>
          <%= button_to "Enable",   "/blah", :class => "pure-button" %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<div class="action_box">
  <%= button_to "Create New Alias", {:user_id => current_user.id, :controller => "aliases", :action => "new"}, :method => :get, :class => "pure-button pure-button-primary" %>
</div>
