<div class="header">
  <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
    <a class="pure-menu-heading" href=""><b>obsqure</b>.net</a>
  
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "FAQ", "/faq" %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Aliases", :controller => "users" %></li>
        <li><%= link_to "Verified Addresses", "something" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Register", "/users/sign_up" %></li>
        <li><%= link_to "Sign In", "/users/sign_in" %></li>
      <% end %>

    </ul>
  </div>
</div>
