<div class="header">
  <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
    <a class="pure-menu-heading" href="/"><b>obsqure</b>.net</a>
  
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Addresses", :addresses %></li>
        <li><%= link_to "Aliases", :aliases %></li>
        <li><%= link_to "Account", "/account" %></li>
        <li><%= link_to "Log Out", :sign_out %></li>
      <% else %>
        <li><%= link_to "Register", :register %></li>
        <li><%= link_to "Sign In", :sign_in %></li>
      <% end %>

    </ul>
  </div>
</div>
