<h2>Sign In</h2>

<div class="pure-form pure-form-aligned">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <div class="pure-control-group">
        <%= f.label :username, required: false %>
        <%= f.text_field :username, autofocus: true, required: true %>
      </div>

      <div class="pure-control-group">
        <%= f.label :password %>
        <%= f.password_field :password, required: true %>
      </div>

      <div class="pure-controls">
        <%= f.submit "Sign in", :class => "pure-button pure-button-primary" %>
      </div>

      <div class="pure-controls">
        <%= link_to "Don't have an account?", :register %>
      </div>

    </fieldset>
  <% end %>
</div>
