<div class="pure-form pure-form-aligned">
  <%= form_for @address, url: {action: "update"} do |f| %>
    <div class="pure-control-group">
      <%= f.label :to %>
      <%= f.text_field :to, :autofocus => true %>
    </div>

    <div class="pure-controls inline">
      <%= f.submit "Edit", :class => "pure-button pure-button-primary" %>
  <% end %>
      <%= button_to "Cancel", { :controller => "addresses", :action => "index" }, :method => :get, :class => "pure-button" %>
    </div>
</div>
