<!DOCTYPE html>
<html>
<head>
  <title>Obsqure</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "custom.css" %>
  <%= stylesheet_link_tag "pure-min.css" %>
</head>
<body>

<div class="content">
  <%= render :partial => "shared/links" %>
  <%= render :partial => "layouts/messages" %>
  <%= yield %>
</div>

<div>
  <%= render :partial => "shared/footer" %>
</div>

</body>
</html>
