<!DOCTYPE html>
<html>
<head>
  <title>
    <%= 
      # FIXME: this is super-hacky
      @page = "Register" if params["controller"] == "devise/registrations"
      @page = "Sign In" if params["controller"] == "devise/sessions"
      [ "Obsqure", @page ].compact.flatten.join(" - ")
    %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "custom.css" %>
  <%= stylesheet_link_tag "pure-min.css" %>
</head>
<body>

<div id="main">
  <%= render :partial => "shared/links" %>
  <%= render :partial => "layouts/messages" %>
  <div id="content">
    <%= yield %>
  </div>
  <%= render :partial => "shared/footer" %>
</div>

</body>
</html>
