<!DOCTYPE html>
<html>
<head>
  <title>
    <%= 
      # FIXME: this is super-hacky
      @page = "Register" if params["controller"] == "registrations" && params["action"] == "new"
      @page = "Update Details" if params["controller"] == "registrations" && params["action"] == "edit"
      @page = "Sign In" if params["controller"] == "devise/sessions"
      [ "Obsqure", @page ].compact.flatten.join(" - ")
    %>
  </title>
  <%= stylesheet_link_tag    'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
  <%= render :partial => "shared/links" %>
  <%= render :partial => "layouts/messages" %>

  <div id="content">
    <%= yield %>
  </div>
  <%= render :partial => "shared/footer" %>
</div>

</body>
</html>
